@font-face {
    font-family: GM;
    src: url(./assets/fonts/GeistMono.ttf);
}

:root {
    --green: #00CA4E;
    --black: #323232;
    --gray: #E0DDD6;
    --white: #fff;
}

* {
    margin: 0px;
    font-family: GM, sans-serif;
}

body {
    background-color: var(--gray);
}

.my-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    padding: 1rem;
    color:var(--black);
    position: relative;
    font-weight: 800;
}

.my-nav a {
    color: var(--black);
    text-decoration: none;
}

#menu-toggle {
    display: none;
}

.menu-label {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.nav-items {
    display: flex;
    gap: 15px;
}

.card-container {
    display: flex;
    margin: 5vw;
    align-items: stretch;
    gap: 15px;
    justify-content: space-around;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 350px;
    width: 100%;
    height: auto;
    background-color: var(--white);
    color: var(--black);
    border-radius: 15px;
    overflow: hidden;
    padding: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.5s ease;
}



.card:hover {
    transform: scale(1.05);
    filter: blur(0);
    opacity: 1;
    z-index: 1;
}


.card img {
    max-height: 250px;
    height: auto;
    border-radius: 10px;
    background-color: var(--black);
}


.card-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    padding: 1rem;
    font-size: 1rem;
}

.card-texts h1 {
    color: var(--green);
    font-size: 1.5rem;
}

.card-texts a {
    text-decoration: none;
    background-color: red;
}

@media screen and (max-width: 768px) {

    .card-container {
        flex-wrap: wrap;
        gap: 15px;
    }

    .card {
        flex: 1 1 45%;
    }

    
}

@media (min-width: 320px) and (max-width: 430px) {
    .menu-label{
        display: block;
    }

    .nav-items {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        padding: 2rem 0rem;
        top: 60px;
        left: 0px;
        width: 100%;
        background-color: var(--black);
    }

 
    .nav-items a {
        color:var(--green);
        padding: 1rem 2rem;
    }

    #menu-toggle:checked ~ .nav-items {
        display: flex;
    }

    .card-container {
        gap: 15px;
        padding: 10vw;
        margin: 0;
    }

    .card {
        width: auto;
    }
    
}
